<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IString" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/EcUtbildning.generatestuff/WriteThings"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITextFormat"
          contract="IString" name="WSHttpBinding_IString">
        <identity>
          <userPrincipalName value="DESKTOP-0B7BF9P\ValkyriaL" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>