<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IString" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/EcUtbildning.generatestuff/generatestuff"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IString"
                contract="IString" name="BasicHttpBinding_IString" />
        </client>
    </system.serviceModel>
</configuration>