<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBMI" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/EcUtbildning.generatestuff/generatestuff"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBMI"
                contract="IBMI" name="BasicHttpBinding_IBMI" />
        </client>
    </system.serviceModel>
</configuration>